.study-directions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 90px 0;
}

.study-directions h2 {
    color: rgb(44, 35, 77);
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
}

.study-directions__list {
    display: flex;
    justify-content: space-between;
}

.study-directions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    border-radius: 10px;
    background: rgb(247, 246, 250);
    padding: 50px 26px 60px;
}

.study-directions__item p {
    color: rgb(44, 35, 77);
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    width: 134px;
    text-align: center;
}

.study-directions__item img {
    width: 80px;
    height: 73px;
}

@media (max-width: 768px) {
  .study-directions {
    padding: 40px 20px 0;
    gap: 20px;
  }

  .study-directions h2 {
    font-size: 28px;
    text-align: center;
  }

  .study-directions__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
    max-width: 360px;
    margin: 0 auto;
  }


  .study-directions__item {
    width: 100%;
    max-width: 160px;
    padding: 20px 0px;
  }

  .study-directions__item img {
    width: 60px;
    height: auto;
  }

  .study-directions__item p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 100%;
  }
}
