.register-page {
    background: rgba(88, 56, 252, 0.15);
    padding: 100px 320px;
}

.register-page__container {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    max-width: 640px;
}

@media (max-width: 768px) {
  .register-page {
    padding: 40px 20px;
  }

  .register-page__container {
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
  }
}