.question {
    padding: 53px 20px 88px; 
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.question__author {
    border-radius: 15px;
    background: var(--Gradient, linear-gradient(180.00deg, rgba(99, 55, 250, 1),rgba(151, 53, 243, 1) 100%));
    padding: 30px;

    display: flex;
    column-gap: 25px;
    align-items: center;
}

.question__author img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}


.question__author h3 {
    color: var(--White, rgba(255, 255, 255, 1));
    font-size: 24px;
    font-weight: 600;
    line-height: 135%;
}


.question_items {
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.07);
    background: rgba(255, 255, 255, 1);
    padding: 30px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.question_items hr {
    margin: 24px 0;
    border: 1px solid rgba(142, 152, 175, 1);
    opacity: 0.2;
}

.question-item {
    display: flex;
    justify-content: space-between;
}

.question_data {
    color: rgba(142, 152, 175, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 10px;
}

.question_text {
    color: rgba(40, 46, 60, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.remove_btn img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.no-questions {
    padding: 200px;
    text-align: center;
}

.no-questions h1 {
    color: rgba(44, 35, 77, 1);
}

.loading {
    padding: 100px;
    text-align: center;
}

.loading h2 {
    color: rgba(44, 35, 77, 1);
}

@media (max-width: 768px) {
    .no-questions {
        padding: 100px 50px;
    }

    .no-questions h1 {
        font-size: 23px;
    }

    .loading {
        padding: 100px 50px;
    }

    .loading h2 {
        font-size: 16px;
    }

    .question {
        padding: 53px 40px 88px;
    }

    .question_items {
        padding: 25px;
    }

    .question_items hr {
        margin: 15px 0;
    }

    .question__author {
        padding: 15px;
        column-gap: 10px;
    }

    .question__author img {
        width: 32px;
        height: 32px;
    }

    .question__author h3 {
        font-size: 16px;
    }

    .question_text {
        font-size: 14px;
    }

    .question_data {
        font-size: 10px;
    }

    .remove_btn img {
        width: 20px;
        height: 20px;
    }
}